<template id="user-prompt-template">
    <div class="user-prompt">
        <form>
            <div class="user-prompt__input-container">
                <generic-input class="user-prompt__input" name="question" placeholder="Ask your question"></generic-input>
            </div>
            <div class="user-prompt__profile-container">
                <generic-input class="user-prompt__profile" name="profile" placeholder="Define the profile"></generic-input>
            </div>
            <div class="user-prompt__button-container">
                <custom-button class="user-prompt__button"></custom-button>
            </div>
        </form>
    </div>
</template>
